.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;

  width: 90vw;
}

.unverifiedUsersContainer {
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 0px;
}

.table {
  table-layout: fixed;
  display: table;

  border-collapse: collapse;
  font-size: 16px;
  width: 100%;
}

.table th {
  border: 1px solid black;
  padding-left: 8px;
}

.table td {
  border: 1px solid grey;
  align-items: vertical;
  padding-left: 8px;
  flex-grow: 1;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(149, 149, 149);
  color: white;
}

.table tr:hover {
  background-color: #eee;
}

.verifySection {
  width: 200px !important;
}

.sectionHeading {
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
}

.verifyButton, .tableName {
  text-decoration: underline #ef5701;
  cursor: pointer;

  margin-left: 8px;
  margin-right: 8px;
}

.verifyButton:hover, .tableName:hover {
  color: #ef5701;
  text-decoration: none;
  cursor: pointer;
}

.verifiedUsersTR > * {
  background-color: black!important;
}

.adminSelect {
  width: 140px;
}

.tableCell {
  max-height: 16px!important;
}

.sortSection {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  margin-bottom: 8px;
}

.sortSection {
  font-size: 14px;
  font-weight: normal!important;
}

.sortTitle {
  margin-bottom: 8px;
}

.sumFields {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
}

.tableHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
}

@media (max-width: 1100px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .table td {
    font-size: 12px;
  }

  .table tr {
    height: 40px;
  }

  .roleColumn {
    display: none;
  }
}