.container {
   text-align: left;
}

.inputSection, .inputType {
   display: flex;
   flex-direction: row;
   margin-top: 16px;
}

.inputGroup {
   display: flex;
   flex-direction: column;
   width: 100%;
}

/* selects the second child in inputSection */
.inputSection > *:nth-child(2) {
   margin-left: 8px;
}

.actions {
   display: flex;
   flex-direction: row;
   margin-top: 16px;
   width: 100%;
   justify-content: right;
}

@media (max-width: 750px) {
   .inputSection {
      flex-direction: column !important;
   }

   .formInput {
      width: 100% !important;
   }

   .inputGroup {
      margin-left: 0 !important;
   }
}
